<mat-toolbar color="primary" class="toolbar-title">Cadastro de SuspensaoPadrao</mat-toolbar>
<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">
          <mat-error *ngIf="formGroup.get('nome')
                            && formGroup.get('nome')?.invalid
                            && formGroup.get('nome')?.touched">
            O nome é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Preco</mat-label>
          <input matInput type="text" formControlName="preco">
          <mat-error *ngIf="formGroup.get('preco')
                            && formGroup.get('preco')?.invalid
                            && formGroup.get('preco')?.touched">
            O preco é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Descricao</mat-label>
          <input matInput type="text" formControlName="descricao">
          <mat-error *ngIf="formGroup.get('descricao')
                            && formGroup.get('descricao')?.invalid
                            && formGroup.get('descricao')?.touched">
            Descreva sua peça.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Compatibilidade</mat-label>
          <input matInput type="text" formControlName="compatibilidade">
          <mat-error *ngIf="formGroup.get('compatibilidade')
                            && formGroup.get('compatibilidade')?.invalid
                            && formGroup.get('compatibilidade')?.touched">
            O nome é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>DadosTecnicos</mat-label>
            <mat-select formControlName="dadosTecnicos">
                @for (dadostecnicos of dadostecnicoss; track dadostecnicos.id) {
                    <mat-option [value]="dadostecnicos">
                        {{dadostecnicos.modelo}} - {{dadostecnicos.fabricante}} - {{dadostecnicos.garantia}} - {{dadostecnicos.embalagem}} - {{dadostecnicos.peso}}

                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              (click)="salvar()"
              [disabled]="formGroup.invalid">
        Salvar
      </button>
      <button mat-raised-button
              *ngIf="formGroup.get('id')?.value"
              color="warn"
              (click)="excluir()"
              [disabled]="formGroup.invalid">
        Excluir
      </button>
      <button mat-raised-button
              routerLink="/suspensaopadrao">
        Cancelar
      </button>

    </mat-card-actions>
  </mat-card>
</div>
