.toolbar-title {
  background-color: #1976d2; /* Cor de fundo da barra de ferramentas */
  color: #fff; /* Cor do texto na barra de ferramentas */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Definir a altura da área do formulário */
}

mat-card {
  width: 400px; /* Largura do cartão do formulário */
}

.full-width-input {
  width: 100%;
  margin-bottom: 15px; /* Espaçamento inferior entre campos */
}

/* Estilo para mensagens de erro */
mat-error {
  color: #d32f2f; /* Cor do texto de erro */
}

/* Estilo para botões */
mat-card-actions {
  display: flex;
  justify-content: flex-end; /* Alinhar botões à direita */
  margin-top: 15px; /* Espaçamento superior entre os botões e o conteúdo do cartão */
}

mat-raised-button {
  margin-left: 10px; /* Espaçamento entre os botões */
}
